body {
    background-color: aqua;
    color: antiquewhite;
}

#hzero {
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
}

.hzero {
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
}

button {
    background-color: beige;
    color: rgb(0, 0, 0);
}

#dox {
    height: 200px;
    width: 150px;
    background-color: rgb(167, 151, 182);
    color: antiquewhite;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}