div {
    height: 200px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    color: black;
    border: 1px solid black;
    margin-top: 20px;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}